<div class="container custom-container-page">
  <div class="custom-container-section">
    <div class="custom-container-section">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">

          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first-name" }, input_html: {class: "custom-element-transparent"} %>
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last-name" }, input_html: {class: "custom-element-transparent"} %>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }, input_html: {class: "custom-element-transparent"} %>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" }, input_html: {class: "custom-element-transparent"}  %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" }, input_html: {class: "custom-element-transparent"}  %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>
