<div class="container custom-container-page">
  <h2>Edit your information</h2>
    <%= simple_form_for current_user do |f| %>
      <%= f.input :first_name, label: 'First name', class: "custom-element-transparent" %>
      <%= f.input :last_name, label: 'Last name', input_html: {class: "custom-element-transparent"} %>
      <%= f.input :gender, label: 'Gender', as: :select, collection: ['Female', 'Male', 'Non-binary'], input_html: {class: "custom-element-transparent"} %>
      <%= f.input :residence_country, label: 'Country of residence', input_html: {class: "custom-element-transparent"}  %>
      <%= f.input :postal_code, label: 'Zip Code', input_html: {class: "custom-element-transparent"}  %>
      <%= f.input :tags, label: 'Input skills', collection: @tags, input_html: { multiple: true } %>
      <p>Profile picture</p>
      <%= f.input_field :photo, as: :file, label: 'Profile picture', class: "form-control-file is-valid file optional", onchange: "form.submit()" %><br>
      <%= f.button :submit, class: "btn btn-success" %>
    <% end %>
</div>
