<div class="container custom-container-page">
  <h2>Edit your information</h2>
    <%= simple_form_for current_user do |f| %>
      <%= f.input :first_name, label: 'First name' %>
      <%= f.input :last_name, label: 'Last name' %>
      <%= f.input :gender, label: 'Gender', as: :select, collection: ['Female', 'Male', 'Non-binary'] %>
      <%= f.input :residence_country, label: 'Country of residence' %>
      <%= f.input :postal_code, label: 'Zip Code' %>
      <%= f.input :tags, label: 'Input skills', collection: @tags, input_html: { multiple: true }%>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
</div>
