<%= javascript_pack_tag 'select_tag' %>

<div class="container" style="padding-top: 66px;">
  <h1>Edit your information</h1>
  
  <%= simple_form_for current_user do |f| %>
    <%= f.input :first_name, label: 'First name' %>
    <%= f.input :last_name, label: 'Last name' %>
    <%= f.input :gender, label: 'Gender', as: :select, collection: ['Female', 'Male', 'Non-binary'] %>
    <%= f.input :residence_country, label: 'Country of residence' %>
    <%= f.input :postal_code, label: 'Zip/Postal Code' %>
    <%= f.input :tags, label: 'Which', multiple: 'multiple', collection: @tags%>
    <%= f.button :submit %>
  <% end %>
</div>
