<div class="container custom-container-page">
  <br>
  <div class="row">
    <div class="col-sm-3 shadow p-3 bg-white rounded"> <!--left col-->
      <div class="d-flex justify-content-center">
        <h3><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}"%></h3>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center mb-3">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, alt: "Profile Pic", class: "avatar-large" %>
        <% else %>
          <%= image_tag "https://st2.depositphotos.com/4111759/12123/v/950/depositphotos_121232794-stock-illustration-male-default-placeholder-avatar-profile.jpg", class: "avatar-large" %>
        <% end %> <br>
        <%= simple_form_for(current_user, remote: true) do |f| %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <span class="btn btn-primary fileinput-button">
            <span>Update Picture</span>
            <%= f.input_field :photo, as: :file, label: false, class: "form-control-file is-valid file optional", onchange: "form.submit()" %>
          </span>
        <% end %>
      </div>
      <div class="card custom-card-skills">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <span>Skills</span>
              <%= link_to "+", edit_user_path(current_user), class: "btn btn-info custom-btn-info" %>
            </div>
          </li>
          <li class="list-group-item custom-list-item">
          <% if current_user.tags.empty? %>
            <%= link_to "Add Skills to your Profile", edit_user_path(current_user) %>
          <% else %>
            <% current_user.tags.each do |tag| %>
              <div>
                <%= link_to tag.name, "/?q=#{tag.name}&commit=Search", class: "btn btn-secondary custom-btn-secondary" %>
              </div>
            <% end %>
          <% end %>
          </li>
        </ul>
      </div><br>

      <ul class="list-group">
        <li class="list-group-item custom-list-item">Activity <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item custom-list-item d-flex justify-content-between">
          <span class="pull-left">Saved Job Offers</span>

          <%= current_user.offers.count %>
        </li>
      </ul><br>
    </div>


    <div class="col-9 d-flex flex-column align-items-center user-offers">
      <%# Saved_offers/Matches section %>
        <% unless @saved.empty? %>
          <div id="carouselSavedOffersControls" class="carousel slide" data-ride="carousel">
            <h4>Saved Job Offers</h4>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="col-md-12" style="float:left">
                  <div class="d-flex justify-content-between">
                    <% @saved.first.each do |offer|  %>
                      <div class="card custom-card custom-card-profile">
                        <div class="card-body">
                          <h4 class="card-title"><%= offer.title %></h4>
                          <p class="card-text"><%= offer.company %></p>
                          <%= link_to "Check offer", offer_path(offer), class: "card-button btn btn-primary" %>
                          <%= link_to ('<i class="fas fa-heart"></i>').html_safe, match_path(offer.matches.select { |match| match.user == current_user }), :confirm => 'Are you sure?', :method => :delete %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>

              <% @saved.last(@saved.size-1).each do |triplet| %>
                <div class="carousel-item">
                  <div class="col-md-12" style="float:left">
                    <div class="d-flex justify-content-between">
                      <% triplet.each do |offer| %>
                        <div class="card custom-card">
                          <div class="card-body">
                            <h4 class="card-title"><%= offer.title %></h4>
                            <p class="card-text"><%= offer.company %></p>
                            <%= link_to "Check offer", offer_path(offer), class: "card-button btn btn-primary" %>
                            <%= link_to ('<i class="fas fa-heart"></i>').html_safe, match_path(offer.matches.select { |match| match.user == current_user }), :confirm => 'Are you sure?', :method => :delete %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselSavedOffersControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselSavedOffersControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <% end %>


      <%# Suggested offers section %>
      <div class="custom-container-section"></div>
      <% unless @suggested.empty? %>
        <div id="carouselSuggestedOffersControls" class="carousel slide" data-ride="carousel">
          <h3>Suggested Job Offers</h3>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="col-md-12" style="float:left">
                <div class="d-flex justify-content-between">
                  <% @suggested.first.each do |offer|  %>
                    <div class="card custom-card">
                      <div class="card-body">
                        <h4 class="card-title"><%= offer.title %></h4>
                        <p class="card-text"><%= offer.company %></p>
                        <%= link_to "Check offer", offer_path(offer), class: "card-button btn btn-primary" %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>

            <% @suggested.last(@suggested.size-1).each do |triplet| %>
              <div class="carousel-item">
                <div class="col-md-12" style="float:left">
                  <div class="d-flex justify-content-between">
                    <% triplet.each do |offer| %>
                      <div class="card custom-card">
                        <div class="card-body">
                          <h4 class="card-title"><%= offer.title %></h4>
                          <p class="card-text"><%= offer.company %></p>
                          <%= link_to "Check offer", offer_path(offer), class: "card-button btn btn-primary" %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselSuggestedOffersControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselSuggestedOffersControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% end %>

      <%# Posted offers section %>
      <% unless @posted.empty? %>
        <div id="carouselPostedOffersControls" class="carousel slide mt-3" data-ride="carousel">
          <h4>Posted Job Offers</h4>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="col-md-12" style="float:left">
                <div class="d-flex justify-content-between">
                  <% @posted.first.each do |offer|  %>
                    <div class="card mb-2">
                      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title"><%= offer.title %></h4>
                        <p class="card-text"><%= offer.company %></p>
                        <%= link_to "Check offer", offer_path(offer), class: "card-button btn btn-primary" %>
                        <%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, match_path(offer), :confirm => 'Are you sure?', :method => :delete %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>

            <% @posted.last(@saved.size-1).each do |triplet| %>
              <div class="carousel-item">
                <div class="col-md-12" style="float:left">
                  <div class="d-flex justify-content-between">
                    <% triplet.each do |offer| %>
                      <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                        <div class="card-body">
                          <h4 class="card-title"><%= offer.title %></h4>
                          <p class="card-text"><%= offer.company %></p>
                          <%= link_to "Check offer", offer_path(offer), class: "card-button btn btn-primary" %>
                          <%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, match_path(offer), :confirm => 'Are you sure?', :method => :delete %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselPostedOffersControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselPostedOffersControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
