<%= render partial: "search_bar" %>
    <!--<div class="filter-buttons">
          <%= radio_button_tag(:job_type, "Full-time") %>
          <%= label_tag(:job_type, "Full-time") %>
          <%= radio_button_tag(:job_type, "Part-time") %>
          <%= label_tag(:job_type, "Part-time") %>
          <%= radio_button_tag(:location_type, "Remote") %>
          <%= label_tag(:location_type, "Remote") %>
          <%= radio_button_tag(:location_type, "Work from home") %>
          <%= label_tag(:location_type, "Work from home") %>
        </div> <br> -->