<div id="search-data" class= "form-search search-data  custom-search-dashboard" data-skills="<%= @tags.to_json %>">
  <%= form_tag root_path, html: {class: "search-bar"}, method: :get do %>
    <div class="d-flex mb-2">
      <%= text_field_tag :q, params[:q], autocomplete: :off,
        class: "form-control search-input custom-element-transparent custom-bar-landing-spacing",
        placeholder: "Search by programming language..." %>
      <%= submit_tag "Search", class: "btn btn-success" %>
    </div>
    <div class="custom-container-search-buttons">
      <div class="dashboard-element">
        <p class="dashboard-heading">
          Full or partial time
        </p>
        <div class="job-type-buttons">
          <div class="dashboard-options">
            <%= radio_button_tag(:job_type, "Full-time") %>
            <%= label_tag(:job_type, "Full-time") %>
          </div>
          <div class="dashboard-options">
            <%= radio_button_tag(:job_type, "Part-time") %>
            <%= label_tag(:job_type, "Part-time") %>
          </div>
        </div>
      </div>
     <!--  <div class="location-type-buttons" style="border: 1px solid teal">
        <%= radio_button_tag(:location_type, "Remote") %>
        <%= label_tag(:location_type, "Remote") %>
        <%= radio_button_tag(:location_type, "Work from home") %>
        <%= label_tag(:location_type, "Work from home") %>
      </div> -->
      <div class="dashboard-element">
        <p class="dashboard-heading">
          Sort results by
        </p>
        <div class="dashboard-options">
          <!-- <%= label_tag(:sort) %> -->
          <%= select_tag "sort", raw('
            <option value="1" selected="selected">Newest first</option><option value="0" >Oldest first</option>
          ')%>
        </div>
      </div>
    </div>
  <% end %>
</div>
