<div class="custom-container-page">

  <% if @query.nil? %>
    <%= render partial: "landing" %>
  <% else %>
    <%= render partial: "search_dashboard" %> <br> 
    <%if @offers and not @offers.empty? %>
      <div class="custom-container-section">
        <% if @job_type %>
          <h2><%= "#{@query.capitalize} #{@job_type.capitalize} jobs" %></h2>
        <% else %>
          <h2><%= "#{@query.capitalize} jobs" %></h2>
        <% end %>
        <% @offers.each do |offer| %>
          <div class="card custom-card custom-offer-result", id="card-<%= "#{offer.id}" %>">
            <div>
              <h3 class="card-title"><%= offer.title %></h3>
              <h5 class="card-text"><%= offer.company.capitalize %></h5>
              <% offer.tags.each do |tag| %>
                <%= link_to tag.name.capitalize, "/?q=#{URI.encode_www_form_component(tag.name)}&commit=Search", class: "card-button btn btn-secondary custom-btn-secondary" %>
              <% end %>
            </div>
            <div class="card-buttons d-flex justify-content-between align-items-center">
                <div class="d-flex">
                  <%= link_to "View job", offer_path(offer), class: "card-button btn btn-warning" %>
                  <%= render partial: "shared/heart", locals: {offer: offer, query: @query, redirect_url: root_path} %>
                </div>
            </div>
          </div>
        <br>
        <% end %>
      </div>
    <% else %>
      <h2 style="color:#54B33D;"><strong> <%= "No '#{@query.capitalize}' related jobs. Please search again!" %></strong></h2>
    <%end%>
  <% end %>

  <div class="custom-container-section">
    <h2>Recently posted jobs</h2>
    <div class="custom-offers-container">
      <% @new_offers.each do |offer| %>

        <div class="card custom-card card-landing" id="card-<%= "#{offer.id}" %>">
          <div class="card-body  d-flex flex-column justify-content-between">
            <div>
              <h5 class="card-title"><%= offer.title %></h5>
              <p><%= offer.company %> | <%= "Posted: #{offer.posting_date.strftime('%b %d, %Y')}" %></p> 
            </div>
            <div>
              <p class="card-text">
                <% offer.tags.first(5).each do |tag|%>
                  <span class="btn btn-secondary custom-btn-secondary">
                  <%= link_to "#{tag.name.capitalize}", "/?q=#{URI.encode_www_form_component(tag.name)}&commit=Search" %>
                   </span>
                <% end %>
              </p>
              <div class="card-buttons d-flex justify-content-between align-items-center">
                <%= link_to "View job", offer_path(offer), class: "card-button btn btn-warning" %>
                <%= render partial: "shared/heart", locals: {offer: offer, query: '', redirect_url: root_path} %>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
