<div class="custom-container-page">
  <% if @query.nil? %>
    <div class="custom-container-welcome">
      <%= render partial: "landing" %>
    </div>
  <% else %>
    <%= render partial: "search_dashboard" %> <br>
    <%if @offers and not @offers.empty? %>
      <div class="custom-container-section">
        <% if @job_type %>
          <h2><%= "#{@query.capitalize} #{@job_type.capitalize} jobs" %></h2>
        <% else %>
          <h2><%= "#{@query.capitalize} jobs" %></h2>
        <% end %>
        <% @offers.each do |offer| %>
          <% next unless offer.active %>
          <div class="card custom-card custom-offer-result", id="card-<%= "#{offer.id}" %>">
            <div class="custom-result-summary">
              <%= link_to offer_path(offer), class: "link-element" do %>
                <div class="pb-4">
                  <h3 class="card-title"><%= offer.title %></h3>
                  <h5 class="card-text"><%= offer.company.capitalize %></h5>
                </div>
              <% end %>
              <% offer.tags.each do |tag| %>
                <%= link_to tag.name.capitalize, "/?q=#{URI.encode_www_form_component(tag.name)}&commit=Search", class: "card-button btn btn-secondary custom-btn-secondary" %>
              <% end %>
            </div>
            <div class="custom-result-buttons">
              <div>
                <%= render partial: "shared/heart", locals: {offer: offer, query: @query, redirect_url: root_path} %>
                <%= link_to "View job", offer_path(offer), class: "card-button btn btn-warning mt-3" %>
              </div>
            </div>
          </div>
        <br>
        <% end %>
      </div>
    <% else %>
      <h2 style="color:#54B33D;"><strong> <%= "No '#{@query.capitalize}' related jobs. Please search again!" %></strong></h2>
    <%end%>
  <% end %>
  <!-- Recent posts starts here -->
  <div class="custom-container-section">
    <h2>Recently posted jobs</h2>
    <div class="custom-offers-container">
      <% @new_offers.each do |offer| %>
        <% next unless offer.active %>
        <div class="card-clickable" id="card-<%= "#{offer.id}" %>">
          <div>
            <%= link_to offer_path(offer), class: "link-element" do%>

              <h4 class="card-title"><%= offer.title %></h4>
              <p><%= offer.company %> | <%= "Posted: #{offer.posting_date.strftime('%b %d, %Y')}" %></p>

            <% end %>
            <p class="card-text">
              <% offer.tags.first(5).each do |tag|%>
                <div class="btn btn-secondary custom-btn-secondary">
                  <%= link_to "#{tag.name.capitalize}", "/?q=#{URI.encode_www_form_component(tag.name)}&commit=Search" %>
                </div>
              <% end %>
            </p>
          </div>
          <div class="d-flex justify-content-between">
            <%= link_to "View job", offer_path(offer), class: "card-button btn btn-warning" %>
            <%= render partial: "shared/heart", locals: {offer: offer, query: '', redirect_url: root_path} %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
