<div class="jumbotron jumbotron-fluid banner-jumbotron">
  <div class="container custom-eigth-container">
    <div class="banner-hero" >
      <h1 class="display-4 text-primary mb-3" style="font-weight: 700;" >find your dream job</h1>
      <div class="card p-3 custom-card-static custom-padding">
        <div id="search-data" class= "form-search search-data" data-skills="<%= @tags.to_json %>">
          <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :q, nil, autocomplete: :off,
            class: "form-control search-input",
            placeholder: "Search by programming language..."
          %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
          </div>
          <p class="description">Remotedesk simplify the process of finding remote & work-from-home jobs.</p>
        </div>
    </div>
  </div>
</div>

<%if @offers and not @offers.empty? %>
  <div class="container custom-landing-spacing">
    <h2><%= "#{@params.capitalize} job offers" %></h2>
    <br>
    <% @offers.each do |offer| %>
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h3 class="card-title"><%= offer.title %></h3>
            <%= link_to "Check offer", offer_path(offer), class: "card-button btn btn-primary" %>
          </div>
          <h5 class="card-text"><%= "Work at #{offer.company.capitalize}"  %></h5>
          <p class="card-text"><%= "Found offer at #{offer.source.capitalize}" %></p>
        </div>
        <div class="card-body">
          <% offer.tags.each do |tag| %>
            <%= link_to tag.name, "#", class: "card-button btn btn-secondary mr-1" %>
          <% end %>
        </div>
        <div class="card-body">
          <% if user_signed_in? %>
            <%= simple_form_for @match, remote: true do |f| %>
              <%= f.input :offer_id, as: :hidden, input_html: { offer_id: offer.id } %>
              <%= f.button :submit, "Save offer", class: "btn btn-primary" %>
              <!-- TODO: add a flash message -->
              <!-- TODO: prevent multiple clicks-->
            <% end %>
          <% else %>
            <%= link_to "Save offer", new_user_session_path, class: "btn btn-primary"  %>
          <% end %>
        </div>
      </div>
    <br>
    <% end %>
  </div>
<%end%>

<div class="container custom-landing-spacing">
  <h2 class="pt-5 pb-4">Newest job offers</h2>
  <div class="custom-offers-container">
    <% @new_offers.each do |offer| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: 700;"><%= offer.title %></h5>
          <p style="font-family: Quicksand;"> <%= offer.company %></p>
          <p class="card-text">
            <% offer.tags.all.each do |tag|%>
              <span class="btn btn-secondary m-1"> <%= tag.name %> </span>
            <% end %>
          </p>
          <%= link_to 'View full offer', offer_path(offer.id), class: "btn btn-primary" %>

        </div>
      </div>

    <% end %>
  </div>
</div>
