<div class="container p-5">
  <div class="p-5 m-5 border border-danger">
    <h1 class="text-danger"> test div</h1>
    <%  require 'open-uri'
        require 'nokogiri'
        # This is the search coming from the
        # desired_language = "python"
        # url = "https://www.indeed.com.mx/trabajo?q=#{desired_language}&remotejob=032b3046-06a3-4876-8dfd-474eb5e7ed11"
        # html_content = open(url).read
        # doc = Nokogiri::HTML(html_content)
        # doc.search('.jobtitle .company').each_with_index do |element, index|


        html_content = open('https://www.prsguitars.com/products/se').read
        doc = Nokogiri::HTML(html_content)

        doc.search('.model').each_with_index do |element, index|


      %>
      <div class="border border-info text-secondary">
        <%= "#{index + 1}. #{element}" %>
      </div>
    <% end %>





  </div>
  <div class="d-flex">
    <div class="w-25 border border-primary mr-4">
      <p>filters</p>

    </div>
    <div class="w-75">
      <!-- Right here will be some sorting  -->
      <!-- search options -->
      <!-- Offer list -->
        <% @offers.each do |offer| %>
        <div class="border border-secondary p-3 m-3 d-flex justify-content-between">
          <div>
            <h2><%= offer.title %></h2>
            <h4><%= offer.company %></h4>
            <p> <%= offer.description %> </p>

          </div>
          <div>
            <% if user_signed_in? %>
              <%= simple_form_for @match, remote: true do |f| %>
                <%= f.input :offer_id, as: :hidden, input_html: { offer_id: offer.id } %>
                <%= f.button :submit, "Save offer", class: "btn btn-primary" %>
                <!-- TODO: add a flash message -->
                <!-- TODO: prevent multiple clicks-->
              <% end %>
            <% else %>
              <%= link_to "Save offer", new_user_session, class: "btn btn-primary"  %>
            <% end %>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

