<div class="container p-5">
  <div class="d-flex">
    <div class="w-25 border border-primary mr-4">
      <p>filters</p>

    </div>
    <div class="w-75">
      <!-- Right here will be some sorting  -->
      <!-- search options -->
      <!-- Offer list -->
        <% @offers.each do |offer| %>
        <div class="border border-secondary p-3 m-3 d-flex justify-content-between">
          <div>
            <h2><%= offer.title %></h2>
            <h4><%= offer.company %></h4>
            <!-- TEMPORARY FOR BUG FIX -->
            <p><strong><%= offer.source %></strong></p>
            <p> <%= raw(offer.description) %> </p>

          </div>
          <div>
            <% if user_signed_in? %>
              <%= simple_form_for @match, remote: true do |f| %>
                <%= f.input :offer_id, as: :hidden, input_html: { offer_id: offer.id } %>
                <%= f.button :submit, "Save offer", class: "btn btn-primary" %>
                <!-- TODO: add a flash message -->
                <!-- TODO: prevent multiple clicks-->
              <% end %>
            <% else %>
             -->
             <!--  <%= link_to "Save offer", new_user_session_path, class: "btn btn-primary"  %>  -->
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
