<div class="container custom-container-page">
  <div class="custom-container-section">
    <h1>Post a Job</h1>

    <%= simple_form_for @offer do |f| %>
      <%= f.input :company, label: 'Company Name', class: "custom-element-transparent" %>
      <%= f.input :title, label: 'Posting Title', class: "custom-element-transparent"  %>
      <%= f.input :description, label: 'Job Offer Description', class: "custom-element-transparent"  %>
      <%= f.input :salary, label: 'Salary (exact or range)', class: "custom-element-transparent"  %>
      <%= f.input :category, label: 'Job Category', class: "custom-element-transparent"  %>
      <%= f.input :job_type, label: 'Job Type', as: :radio_buttons, collection: ['Full-time', 'Part-time'] %>
      <%= f.input :location, label: 'Required Location' %>
      <%= f.input :location_type, label: 'Remote Type', as: :radio_buttons, collection: [['Remote',true], ['Work from home',false]] %>
      <%= f.input :tags, label: 'Skills Wanted', collection: @tags, input_html: { multiple: true }%>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
