<% content_for :meta_title, "#{@offer.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @offer.description %>
<% #content_for :meta_image, cl_image_path(@offer.photo.path) %>


<div class="custom-container-page">
  <div class="d-flex justify-content-between">
    <div class="">
      <% if user_signed_in? %>
        <%= link_to "<< Back to you job matches", user_path(current_user) %>
      <% else %>
        <%= link_to "<< Back to all jobs", root_path %>
      <% end %>
      <!--
        <%= link_to "More #{@offer.category} jobs >>", root_path %>
       -->
      <div class="row justify-content-between">

    <div id="offer-frame">
      <div class="custom-container-offer">
        <p><strong><%= "POSTED #{@offer.posting_date.strftime('%^b %d, %Y')}" %></strong></p>
        <h3><%= @offer.title %></h3>
        <h5><%= "#{@offer.company} | #{@offer.location}" %></h5>
        <div class="row justify-content-left ">
          <% @offer.tags.each do |tag| %>
            <div>
              <%= link_to tag.name, "/?q=#{tag.name}&commit=Search", class: "card-button btn btn-secondary custom-btn-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
   <!-- This is where the description starts -->
      <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="description-tab"
              data-toggle="tab" href="#description" role="tab"
              aria-controls="description" aria-selected="true">
            Description</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="specifications-tab"
              data-toggle="tab" href="#specifications" role="tab"
              aria-controls="specifications" aria-selected="false">Specifications</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            <div class="custom-container-offer">
              <%= raw(@offer.description) %>
            </div>
          </div>
          <div class="tab-pane fade" id="specifications" role="tabpanel" aria-labelledby="specifications-tab">
            <div class="custom-container-offer">
                <h2>Job specifications</h2>
                <ul>
                  <li class="custom_table_row ct1">
                    <div class="custom_key">Company:</div>
                    <div class="custom_value"><%= @offer.company %></div>
                  </li>
                  <li class="custom_table_row">
                    <div class="custom_key">Salary:</div>
                    <div class="custom_value"><%= @offer.salary.empty? ? "Not specified" : @offer.salary %></div>
                  </li>
                  <li class="custom_table_row ct1">
                    <div class="custom_key">Category:</div>
                    <div class="custom_value"><%= @offer.category.empty? ? "Not specified" : @offer.category %></div>
                  </li>
                  <li class="custom_table_row">
                    <div class="custom_key">Job type:</div>
                    <div class="custom_value"><%= @offer.job_type.empty? ? "Not specified" : @offer.job_type.capitalize.gsub(/[^a-zA-Z]/," ") %></div>
                  </li>
                  <li class="custom_table_row ct1">
                    <div class="custom_key">Location:</div>
                    <div class="custom_value"><%= @offer.location.empty? ? "Not specified" : @offer.location %></div>
                  </li>
                  <li class="custom_table_row">
                    <div class="custom_key">Posting site:</div>
                    <div class="custom_value"><%= @offer.source.capitalize %></div>
                  </li>
                  <li class="custom_table_row ct1">
                    <div class="custom_key">Posting date:</div>
                    <div class="custom_value"><%= @offer.posting_date.strftime("Posted on %m/%d/%Y") %></div>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    <div class=" sticky-top" id="offer-summary">
      <h5> This offer was found at </h5>
      <h3><%= @offer.source.capitalize %></h3>
      <%= link_to "Apply to this job", @offer.listing_url, class: "btn btn-success" %>
      <% if user_signed_in? %>
        <% if @offer.users.include?(current_user) %>
          <%= link_to "Remove from favorites".html_safe, match_path(@offer.matches.select { |match| match.user == current_user }), :confirm => 'Are you sure?', :method => :delete, class: "btn btn-primary mt-3" %>
        <% else %>
          <%= simple_form_for @match do |f| %>
            <%= f.input :offer_id, as: :hidden, input_html: { value: @offer.id } %>
            <%= f.button :submit, "Add to favorites", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to ('<i class="fas fa-heart"></i>').html_safe, new_user_session_path %>
      <% end %>
    </div>
  </div>
  <br>
</div>

